body {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    font-size: 30px;
}

.calc {
    border: 1px solid #c3c3c3;
    margin-top: 20px;
    background: black;
    width: 400px;
    justify-content: space-between;
}

.result-wrapper {
    margin: 2px;
    border: 1px solid #cc99cc;
    border-radius: 2px;
    background: #c4c4c4;
}

.history {
    margin: 2px;
    border-radius: 2px;
    background: #b3d4fc;
    width: 38%;
}

#result {
    width: 100%;
}

#buttons-wrapper {
    width: 100%;
    background: #b3d4fc;
}

button {
    width: 100px;
}

.max-width {
    flex-grow: 0.5;
}

.row-button {
    display: flex;
}
